node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Environment variables - NO subir a Git
.env
.env.*
!.env.example

.replit
.cache
.local
*.log
.idea
.vscode

# No subir archivos temporales
attached_assets/
